if (ENABLE_UNIT_TESTS)
    OPTION(ENABLE_COVERAGE "Use gcov" OFF)
    message(STATUS "Enable coverage: ${ENABLE_COVERAGE}")
    if (ENABLE_COVERAGE AND CMAKE_CXX_COMPILER_ID MATCHES "GNU|Clang")
        set(CMAKE_BUILD_TYPE "Coverage")
        include(CodeCoverage)
        setup_target_for_coverage(${PROJECT_NAME}_coverage ${PROJECT_NAME}_test coverage)
    endif ()
    include(CTest)
    enable_testing()
    add_executable(tests_${param_scope}_${param_package}
            tests/main.cpp)
    target_include_directories(tests_${param_scope}_${param_package}
            PRIVATE
            ${CMAKE_CURRENT_SOURCE_DIR}/include)
    target_link_libraries(tests_${param_scope}_${param_package}
            PRIVATE
            ${PROJECT_NAME}
            gtest_main
            gmock_main ${param_import})
    add_test(NAME google_test
            COMMAND $<TARGET_FILE:tests_${param_scope}_${param_package}>)
endif ()